.idea/
Exercise(oops8).py
decorators.py
practice_locha.py
venv/
oops1.py
oops10.py
oops11.py
oops12.py
oops13.py
oops14.py
oops15.py
oops2.py
oops3.py
oops4.py
oops5.py
oops6.py
oops7.py
oops8.py
oops9.py

